<h2>New message to subject: <%= @subject.name %></h2>

<% if @message_replying %>
	<div class="message-bottom-bar-quote">
				<strong><%= link_to @message_replying.user.username, @message_replying.user %> said..</strong>
				<%= simple_format(@message_replying.content) %>
	</div>
	<br>
<% end %>

<%= render 'form', { :creating => true }%>
