<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.username %>
</p>

<% if !@user.signature.nil? %>
	<p>
		<strong>Signature:</strong>
		<%= simple_format(@user.signature) %>
	</p>
<% end %>

<% if current_user == @user %>
	<%= link_to "edit", edit_user_path, class:"link-button", type:"edit-button" %>
<% end %>
