/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* FOR APPLICATION PAGE */

.navibar {
	margin: auto;
	width: 70%;
	padding: 15px;
	border-style: groove;
	border: 1px solid black;
}
.navibar-logo {
	margin: -20px;
	padding-left: 15px;
	position: relative;
	top: 9px;
}
.navibar-user-control-top {
	position: relative; 
	float: right;
	top: -30px;	
}
.navibar-user-control-bottom {
	position: relative; 
	float: right;
	top: -30px;
}
div [type="navibar-user-control"] {
	clear: right;
}
.notice {
	margin: auto;
	width: 70%;
	padding: 20px;
}
.content {
	margin: auto;
    	width: 50%;
    	border: 2px solid black;
	border-style: groove;
    	padding: 10px;
}

.nav-tree {
	font-weight: 600;
}

table {
	width: 100%;
}
table, th, tr, td {
	border: 1px solid black;
	border-collapse: collapse;
}
td {
	padding: 3px 6px;
}
td.centered-data-row {
	text-align:center
}
th.wide-table-header {
	width: 600px;
}

/*BUTTONS AND INPUTS*/
input[type="submit"] {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	padding: 10px 25px;
    	font-size: 16px;
	border: 1px solid black;
	color: black;
}	
input[type="text"], input[type="password"]  {	
	padding: 5px;
	border: 1px solid gray;
}
textarea {
	width: 70%;
	height: 150px;
}
.content-input {
	width: 70%;
	height: 150px;
}
.link-button {
	border-style: ridge;
	width: auto;
	display: inline;
	padding: 3px;
	text-decoration: none;
}
.link-button[type="edit-button"] {
	display: inline;
}
.link-button[type="delete-button"] {
	display: inline;
}

