<div class="nav-tree">	
	<%= link_to "Categories", categories_path %> > 
	<%= link_to @category.name, @category %>	
</div>

<% if current_user && current_user.admin %>
	<h2>Editing Category</h2>
	<%= render 'form' %>
<% else %>
	<%= render 'lacking_rights_partial' %>
<% end %>
