


<table>
	<thead>
		<th><p class="table-header-text">Categories</p></th>
	</thead>
	<tbody>
		<% @categories.each do |category| %>
      			<tr>
        		<td><%= link_to category.name, category %></td>
      			</tr>
   		 <% end %>
	</tbody>

</table>

<br>

<% if current_user && current_user.admin %>
	<%= link_to 'New Category', new_category_path %>
<% end %>
